<h1>Goodeat</h1>

<%= link_to "菜單" , foods_path %>
<% if current_user %>
  <p>安安， <%= current_user.email %> 歡迎光臨</p>
  <p>你的角色是 <%= current_user.role %></p> </ br>
  <%= link_to "登出" , destroy_user_session_path,method:"delete" %>
    <% if current_user.admin? %>
      <p>現在有[<%= User.count %>]個會員 </p>
      
    <% end %>
<% else %>
  <p> 請先登入</p>
  <%= link_to "登入" , user_session_path %>
  <%= link_to "註冊" , new_user_registration_path %>
  
<% end %>