<section>
<header><h1><%= @food.title %></h1></header>
<article><%= simple_format( @food.description ) %></article> 


<%= form_with(model: @comment ,url:food_comments_path(@food)) do |form| %>

  <div>
    <p>填寫留言</p>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.submit "留言"%>

<% end %>

</section>